$navbar-height: 5rem;

.navbar-header {
  grid-area: navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.navbar {
  height: 100%;
}

.navbar-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  background-color: $white;
}

#home-link {
  position: relative;
  flex-shrink: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: $spacing-base;
  align-items: center;
}

#website-name {
  font-size: $large-font;
  color: $black;
}

.navbar-links {
  color: $white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  // display: grid;
  // grid-row-gap: 0;
  // grid-auto-flow: column;
  // align-items: center;
  // box-shadow: none;
  // padding: 0;
  // position: static;
}

.icon {
  display: none;
}

.navbar-item {
  text-align: center;
}

.navbar-link {
  border-radius: $border-radius;
  padding: 0 $padding-sm;
  display: block;
  color: $mid-grey;
}

.link-after {
  content: "";
  display: block;
  height: 0.15rem;
  background: $main-color;
}

#active-navbar-link,
.navbar-link,
#website-name {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover {
    color: $black;

    &::after {
      width: 100%;
    }
  }
}

#active-navbar-link {
  font-weight: bold;
  color: $black;

  &::after {
    @extend .link-after;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    display: block;
    margin-bottom: $margin-xs;
  }

  .navbar-container {
    flex-direction: column;
    margin-top: $margin-sm;
  }

  .navbar-links {
    display: none;
  }

  .navbar-link {
    padding: $margin-xs 0;
  }

  .navbar-container.active .navbar-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  #home-link {
    margin-top: $margin-sm;
  }
}
