$navbar-height: 5rem;

.navbar-header {
  grid-area: navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
}

.navbar {
  background-color: $dark-grey;
  box-shadow: bottom-shadow(2);
  height: 100%;
}

.navbar-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#home-link {
  position: relative;
  flex-shrink: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: $spacing-base;
  align-items: center;
}

#website-name {
  font-size: $large-font;
  font-family: $text-font-stack-light;
  color: $light-grey;
}

.navbar-links {
  color: $white;
  list-style: none;
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: $spacing-base;
  grid-auto-flow: column;
  align-items: center;
  box-shadow: none;
  padding: 0;
  position: static;
}

.navbar-item {
  text-align: center;
}

.navbar-link {
  border-radius: $border-radius;
  padding: 0 $padding-sm;
  display: block;
  color: $white;
}

.link-after {
  content: '';
  display: block;
  height: 0.15rem;
  background: white;
}

#active-navbar-link,
.navbar-link,
#website-name {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

#active-navbar-link {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100%;
  }
}