p {
  margin: 0;
}

* {
  font-family: $text-font-stack;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  height: 100% !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $text-color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  scrollbar-color: tint($black, 30%) $background-light-transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: thin;
  }

  &::-webkit-scrollbar-thumb {
    background-color: tint($black, 30%);
    border-radius: $border-radius;
  }
}

#page-content {
  padding-right: $padding-sm;
  padding-left: $padding-sm;
  margin-right: auto;
  margin-left: auto;
  margin-top: $margin-xl;
  flex-shrink: 0;
  max-width: 1140px;
  width: 100%;
}

.content {
  padding: $padding-xs $padding-sm;
  // margin: 0 $margin-xl;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

a {
  font-weight: inherit;
  text-decoration: none;
}

#page-footer {
  padding: 1.6rem;
  margin-top: auto;

  * {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .content {
    margin: 0;
  }

  #page-content {
    width: 90%;
  }
}
