$text-font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;
$text-font-stack-bold: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif !default;
$text-font-stack-light: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif !default;

$body-font: normal 125% / 1.4 $text-font-stack;
$small-font: 0.8rem !default;
$regular-font: 1rem !default;
$large-font: 1.3rem !default;
$huge-font: 3rem !default;
